h4 {
  font-weight: lighter;
}
.answer {
  padding: 0px 10px 10px;
  font-size: small;
  line-height: normal;
}
.answerDetails {
  color: gray;
  padding-top: 10px;
  font-size: x-small;
}
.questionsList {
  max-height: 80vh;
}
.question {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}
.questionBody {
  padding-left: 10px;
}
.questionDetails {
  color: gray;
  font-size: x-small;
}
.answersList {
  display: flex;
  align-items: baseline;
  max-height: 50vh;
}
.search {
  display: flex;
  flex-direction: column;
}
.error {
  color: red;
  white-space: pre;
}
.btnLinkify {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: gray;
}
.scrollable {
  overflow-y : auto;
  height: inherit;
}
