.qaTitle {
  font-weight: lighter;
  padding-bottom: var(--spacing-sm);
}
.answer {
  padding: 0px 10px 10px;
  font-size: small;
  line-height: normal;
}
.answerDetails {
  color: gray;
}
.questionsList {
  max-height: 80vh;
  padding-bottom: var(--spacing-md);
}
.question {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}
.questionBody {
  padding-left: 10px;
}
.questionDetails {
  color: gray;
}
.answersList {
  display: flex;
  align-items: baseline;
  max-height: 50vh;
}
.search {
  display: flex;
  flex-direction: column;
}
.error {
  color: red;
  white-space: pre;
}
.scrollable {
  overflow-y : auto;
  height: inherit;
}
.sellerName {
  font-weight: bold;
}
button.unstyledBtn, input.unstyledBtn{
  background: none;
  border: none;
  cursor: pointer;
}
.emphasize {
  text-transform: uppercase;
  font-weight: bold;
}
.multiBtn {
  margin-right: var(--spacing-sm);
}
