.qaTitle {
  font-weight: lighter;
  padding-bottom: var(--spacing-sm);
}
.answer {
  padding-bottom: 10px;
  font-size: small;
  line-height: normal;
  line-break: anywhere;
}
.answerDetails {
  color: var(--color-faded);
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.questionsList {
  max-height: 80vh;
  padding-bottom: var(--spacing-md);
}
.question {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}
.questionBody {
  line-break: anywhere;
  flex-grow: 2;
}
.questionDetails {
  color: var(--color-faded);
  display: flex;
  align-items: baseline;
}
.answersList {
  display: flex;
  align-items: baseline;
  max-height: 50vh;
  gap: var(--spacing-sm);
}
.search {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-sm);
}
.error {
  color: var(--color-error);
  white-space: pre;
}
.scrollable {
  overflow-y : auto;
  height: inherit;
}
.sellerName {
  font-weight: bold;
}
button.unstyledBtn, input.unstyledBtn{
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--color-dark);
}
.emphasize, .search input::placeholder {
  text-transform: uppercase;
  font-weight: bold;
}
.multiBtn {
  margin-right: var(--spacing-sm);
}
.helpfulness {
  display:flex;
  flex-shrink: 0;
  align-items: baseline;
}
.formModal input, .formModal textarea {
  width: 100%;
}