.features {
  width: max-content;
  flex: none;
}

.icon {
  width: 20px;
  height: 20px;
  flex: none;
}

.text {
  min-width: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.divider {
  background-color: var(--color-dark);
  width: 2px;
  align-self: stretch;
  flex: none;
}

.leftContent {
  flex: 1;
  min-width: 0;
}

.socialButton {
  padding: var(--text-xs);
}
