.photoWrapper {
  --thumbnail-width: 50px;
  width: var(--thumbnail-width);
  height: calc((var(--thumbnail-width) + var(--spacing-sm)) * 7);
  position: relative;
}

.scrollContainer {
  overflow-y: auto;
  height: 100%;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.photo {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  padding: unset;
  max-height: var(--thumbnail-width);
}

.photoIndicator {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -6px;
}

.topScroll {
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
}

.bottomScroll {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
}

.icon {
  color: var(--color-dark);
}

.icon path{
  stroke: var(--color-light);
  stroke-width: 5;
}