.selectWrapper {
  position: relative;
}

.selectDisplay {
  padding: var(--spacing-sm);
  background: var(--color-bg);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.arrow {
  font-size: 10px;
}

.selectList {
  position: absolute;
  width: 100%;
  background: var(--color-bg);
  border: 1px solid var(--color-dark);
  border-top: none;
  z-index: 100;
  list-style: none;
  padding: 0;
}

.relative {
  position: relative;
  max-height: calc((1.5rem + (var(--spacing-sm) * 2)) * 4);
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.relative::-webkit-scrollbar {
  display: none;
}

.indicatorWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 4px;
  background: linear-gradient(to top, var(--color-bg) 0%, transparent 100%);
  pointer-events: none;
}

.scrollIndicator {
  color: var(--color-dark);
}

.selectOption {
  border: unset;
  width: 100%;
  text-align: left;
  line-height: 1.5rem;
}

.selectOption:hover {
  background: var(--color-light);
}

.active {
  background: #e6f3ff;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background: var(--color-light);
}

.disabled:hover {
  background: var(--color-light);
}