.thumbnail {
  background-color: white;
  width: 100%;
  height: 50px;
  position: relative;
  padding: unset;
}

.indicator {
  width: 100%;
  height: 3px;
  background-color: brown;
  position: absolute;
  bottom: -10px;
}