/* reviews.module.css */

/* -------------- Ratings & Reviesws -- */

.benRatingsAndReviews {
  width: 100%;
  margin-bottom: 100px;
}

.ratingsAndReviewsLayout {
  display: flex;
}

.ratingsWrapper {
  width: 282px;
  flex-shrink: 0;
  margin-right: 3em;
}

.reviewsWrapper {
  flex-grow: 1;
}

/* -------------- Reviews -- */

.btn {
  cursor: pointer;
  font-weight: bold;
}

.reviewsListWrapper button {
  margin-right: var(--spacing-sm);
}

.reviewsList {
  overflow: scroll;
  max-height: 700px;
  margin-bottom: var(--spacing-sm);
  padding-right: var(--spacing-md);
}

.reviewTileWrapper {
  margin-bottom: var(--spacing-md);
  padding-bottom: var(--spacing-sm);
  width: 100%;
  border-bottom: solid var(--color-dark) 1px;
}

.reviewTileHeading {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-sm);
}

.reviewTileSummary {
  margin-bottom: var(--spacing-sm);
}

.reviewTileBody {
  margin-bottom: var(--spacing-sm);
  word-break: break-word;
}

.reviewTileBodyButton {
  margin-bottom: var(--spacing-sm);
}

.reviewTilesHelpfulSection button {
  padding: 0;
  min-width: auto;
  border: none;
  border-bottom: solid var(--color-dark) 1px;
}

.reviewTilesHelpfulSection p {
  display: flex;
}

.reviewTilesHelpfulSection span:first-child {
  margin-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}

.reviewTilesHelpfulSection span:last-child {
  padding-left: var(--spacing-sm);
  border-left: solid var(--color-dark) 1px;
}

.reviewTilesHelpfulSection button:first-child {
  margin-right: 4px;
}

.reviewTitleResponse {
  background: #eeeeee;
  padding: 20px;
}

.reviewTitleResponseTitle {
  margin: 0;
  padding: 0;
}

.reviewTileRecommend {
  margin-bottom: var(--spacing-sm);
}

.reviewTileUserName {
  padding-right: 5px;
}

.reviewTileStarRating {
  font-weight: bold;
}

.photoContainer {
  display: flex;
  gap: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);
}

.photoContainer button {
  padding: 0;
  border: none;
}

.reviewPhotoSm {
  border: solid #ccc 1px;
  width: 100px;
  height: 100px;
}

.reviewPhotoLg{
  width: 100%;
}

/* -------------- Ratings -- */

.ratingsHeader {
  display: flex;
}

.ratingsTitle {
  text-transform: uppercase;
  font-weight: normal;
}

.ratingsAverage {
  margin-right: 15px;
  font-size: 3em;
}

.ratingsStars {
  margin-top: 15px;
}

.ratingsBreakdown {
  width: 100%;
  margin-bottom: var(--spacing-lg);
}

.ratingsBreakdownList {
  list-style: none;
  padding: 0;
}

.ratingBarWrapper, .ratingBar, .ratingPercentage {
  height: 6px;
}

.ratingBar, .ratingPercentage {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ratingBar {
  width: 100%;
  background-color: var(--color-light);
  z-index: 100;
}

.ratingPercentage {
  width: var(--percentageWidth);
  background-color: #30d39a;
  z-index: 200;
}

.ratingBreakdown {
  width: 100%;
}

.ratingBarWrapper {
  position: relative;
  width: 80%;
}

.ratingBreakdown {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-sm);
}

.ratingBreakdown button {
  padding: 0;
  border: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.starTitle {
  margin-right: var(--spacing-sm);
  border-bottom: solid #ccc 1px;
}

.recPercentage {
  font-weight: normal;
  margin-bottom: var(--spacing-sm);
}

.prodBreakdown {
  margin-bottom: var(--spacing-sm);
}

.prodBreakdownBarWrapper {
  position: relative;
  display: flex;
  margin-bottom: var(--spacing-sm);
}

.prodBreakdownBarWrapper span {
  background-color: var(--color-light);
  height: 6px;
  display: block;
  flex: 1 1 0;
}

.ratingsTitles {
  display: flex;
  justify-content: space-between;
}

.ratingsTitles span {
  display: block;
}

.prodBreakdownBarWrapper .two:first-child {
  margin: 0 2px 0;
}

.prodBreakdownBarWrapper .two:last-child {
  margin: 0 0 0 2px;
}


.prodBreakdownBarWrapper .three {
  margin: 0 4px;
}

.prodTitle {
  margin-bottom: 6px;
  display: block;
}

.prodBreakdownWrapper {
  position: relative;
}

.prodBreakdownMarker {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 12px solid var(--color-dark);
  top: 0px;
  z-index: 200;
  left: var(--percentageLeft);
}

/* Filters */

.starFiltersWrapper {
  margin-bottom: var(--spacing-sm);
}

.starFilterHover:hover {
  background-color: #fdec9f;
  box-shadow: 0 0 8px rgb(250 216 0);
  opacity: 0.6;
}

.starFilterSelected {
  background-color: #fdec9f;
  box-shadow: 0 0 8px rgb(250 216 0);
}

.clearStarFiltersBtn {
  border: none;
  min-width: auto;
  text-decoration: underline;
  padding: 0;
}

/* -------------- Characteristics & Add Review Form -- */

.formTitle {
  text-align: center;
  margin-bottom: var(--spacing-md);
  color: #333;
}

.radioLabel {
  max-width: 250px;
  display: block;
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  margin-right: 40px;
}

.formBlock {
  padding: var(--spacing-sm);
  background-color: var(--color-light);
  border: solid var(--color-border) 1px;
  margin-bottom: var(--spacing-md);
}

.requiredFlag {
  color: red;
  padding-left: 3px;
}

.formLabel {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  margin-right: 40px;
}

.characteristic {
  padding-bottom: var(--spacing-sm);
}

.radioSection {
  display: flex;
}

.radioSectionTitle {
  margin-bottom: var(--spacing-sm);
}

.radioSectionTitle span {
  font-weight: 100;
  margin-left: var(--spacing-sm);
}

.radioTitle {
  display: block;
  font-weight: normal;
}

.formRadio {
  background: teal;
}

.formInput {
  width: 100%;
  padding: var(--spacing-sm);
  font-weight: normal;
  margin-bottom: var(--spacing-sm);
  border: 1px solid var(--color-light);
  border-radius: 0;
  box-sizing: border-box;
}

.starWrapper {
  display: flex;
}

.starWrapper p {
  margin-left: var(--spacing-sm);
  padding-top: 4px;
}

.errorMessage {
  color: red;
  font-weight: normal;
}