/* reviews.module.css */

/* -------------- Ratings & Reviews -- */

.ratingsAndReviewsLayout {
  display: flex;
  flex-direction: row;
}

.ratingsWrapper {
  width: 28%;
  margin-right: 8%;
}

.reviewsWrapper {
  width: 64%;
}

/* -------------- Reviews -- */

.btn {
  cursor: pointer;
  font-weight: bold;
}

.reviewsListWrapper {
  margin-bottom: 50px;
}

.reviewsList {
  overflow: scroll;
  max-height: 700px;
  margin-bottom: 10px;
}

.reviewTileWrapper {
  background: rgb(250, 250, 250);
  padding: 15px;
  margin-bottom: 10px;
  border: solid #ccc 1px;
  width: 100%;
}

.reviewTileHeading {
  display: flex;
  justify-content: space-between;
}

.reviewTitleResponse {
  background: #eeeeee;
  padding: 20px;
}

.reviewTitleResponseTitle {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.reviewTileAuthorship {
  font-size: 14px;
}

.reviewTileUserName {
  padding-right: 5px;
}

.reviewTileStarRating {
  font-weight: bold;
}

.photoContainer {
  display: flex;
  gap: 5px;
  margin: 10px 0;
}

.reviewPhotoSm {
  border: solid #ccc 1px;
  width: 100px;
  height: 100px;
}

.reviewPhotoLg{
  width: 100%;
}

/* -------------- Ratings -- */

.ratingsHeader {
  display: flex;
}

.ratingsTitle {
  text-transform: uppercase;
  font-size: 18px;
}

.ratingsAverage {
  font-size: 70px;
  margin-right: 15px;
}

.ratingsStars {
  margin-top: 30px;
}

.ratingsBreakdown {
  width: 100%;
  margin-bottom: 30px;
}

.ratingsBreakdownList {
  list-style: none;
  padding: 0;
}

.ratingBarWrapper, .ratingBar, .ratingPercentage {
  height: 8px;
}

.ratingBar, .ratingPercentage {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ratingBar {
  width: 100%;
  background-color: #d7d7d7;
  z-index: 100;
}

.ratingPercentage {
  width: var(--percentageWidth);
  background-color: #30d39a;
  z-index: 200;
}

.ratingBreakdown {
  width: 100%;
}

.ratingBarWrapper {
  position: relative;
  width: 80%;
}

.ratingBreakdown {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.starTitle {
  margin-right: 10px;
  border-bottom: solid #ccc 1px;
}

.recPercentage {
  margin-bottom: 20px;
  font-size: 14.5px;
}

.prodBreakdown {
  margin-bottom: 10px;
}

.prodBreakdownBarWrapper {
  position: relative;
  display: flex;
  margin-bottom: 6px;
}

.prodBreakdownBarWrapper span {
  background-color: #d7d7d7;
  height: 8px;
  display: block;
  flex: 1 1 0;
}

.ratingsTitles {
  display: flex;
  justify-content: space-between;
}

.ratingsTitles span {
  display: block;
  font-size: 13px;
}

.prodBreakdownBarWrapper .two:first-child {
  margin: 0 2px 0;
}

.prodBreakdownBarWrapper .two:last-child {
  margin: 0 0 0 2px;
}


.prodBreakdownBarWrapper .three {
  margin: 0 4px;
}

.prodTitle {
  margin-bottom: 6px;
  display: block;
}

.prodBreakdownWrapper {
  position: relative;
}

.prodBreakdownMarker {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 13px solid rgb(39, 39, 39);
  top: 0px;
  z-index: 200;
  left: var(--percentageLeft);
}

/* -------------- Characteristics & Add Review Form -- */

.formTitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.radioLabel {
  max-width: 200px;
  display: block;
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  margin-right: 40px;
}

.formBlock {
  padding: 20px;
  background-color: #f6f5f5;
  border: solid #d3d1d1 1px;
  margin-bottom: 20px;
}

.requiredFlag {
  color: red;
  font-size: 24px;
  padding-left: 3px;
}

.formLabel {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  margin-right: 40px;
}

.characteristic {
  padding: 15px 0;
}

.radioSection {
  display: flex;
}

.radioSectionTitle {
  margin-bottom: 10px;
}

.radioSectionTitle span {
  font-weight: 100;
  margin-left: 10px;
}

.radioTitle {
  display: block;
  font-size: 14px;
  font-weight: normal;
}

.formRadio {
  background: teal;
}

.formInput {
  width: 100%;
  padding: 10px;
  font-weight: normal;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.starWrapper {
  display: flex;
}

.starWrapper p {
  margin-left: 10px;
  padding-top: 4px;
}

.errorMessage {
  color: red;
  font-size: 14px;
  font-weight: normal;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0056b3;
}