/* RatingsAndReviews.module.css */

.errormessage {
  color: red;
  font-size: larger;
}


.legend {
  font-size: smaller;
}

.image {
  border-radius: 5px;
}

.radio {
  margin-left: 10px;
  margin-right: 10px;
}

.left {
  justify-content: start;
}
/****************************/
/* BEGIN: RatingsAndReviews */

.spaceVertical {
  margin: 10px 0;
}

.RRcontainer {
  margin: 0 2%;
}
.sectionHeading {
  font-size: var(--text-md);
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-md);
}

/* .horizontalpadding {
  margin-left: var(--spacing-sm);
  margin-right: var(--spacing-sm);
} */

.verticalpadding{
  margin-top: 3px;
  margin-bottom:3px;
}
/* END:   RatingsAndReviews */
/****************************/


/***********************/
/* BEGIN: Ratings      */

.filters {
  font-size: smaller;
  width: 100%;
}

.filters .clear {
  text-decoration: underline;
  margin: 0;
}

.clear:hover{
  font-weight:bold;
}


.progress {
  border-style: none;
  background-color: lightgreen;
  height: 8px;
  padding: 0;
  width: 100%;
  margin: 0 0 0 3% ;

}

.progress::-webkit-progress-bar {
  background-color: lightgrey;
}

.range {
  margin: 10px 0;
}

.range .bar{
  justify-content: space-between;
  width: 100%;
  font-size:smaller;
}

.ratings {
  width: 100%;
  margin: 0;
  max-width: 300px;
  font-size: smaller;
}

.rating {
  font-size: var(--text-lg);
  font-weight: var(--text-bold);
}

.recommended {
  font-size: var(--test-sm);
  font-weight: var(--text-reg);
}
.slider {
  -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: lightgray;
    outline: none;
    opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: url('../../../dist/assets/caret-down-solid-full.svg');
  cursor:auto;
}

.starrating {
  margin: 0 10%;
}

.starcount {
  width: 5%;
  margin: 0 2%;
  text-align: right;
}

.stars {
  margin: 0;
}

.stars .filters:hover {
  background-color:lightgrey;
}
/* .stars .filter:hover {
  background-color:antiquewhite;
} */

.stars .label {
  width: 20%;
  font-size: var(--text-xs);
}

.stars .barLabel {
  font-size: var(--text-s);
}



/* END:   Ratings      */
/***********************/


/***********************/
/* BEGIN: Reviews      */
.scrollable {
  height: 70vh;
  width: 100%;
  overflow: auto;
  bottom: 0;
  max-width: 500px;
}
/* END:   Reviews      */
/***********************/


/***********************/
/* BEGIN: ReviewList   */
.listtitle {
  font-weight: var(--text-bold);
  font-size: var(--text-md);
}

.reviewlist {
  width: 100%;
  margin: 0  2% ;

}

/* .ratings {
  width: 100%;
  margin: 0 5px;
  min-width: 200px;
  max-width: 300px;
} */

.reviews {
  width: 100%;
  margin: 0;
  max-width: 100%;
}

.sort {
  border-style: none;
  text-decoration: underline;
  background: none;
}

/* END:   ReviewList   */
/***********************/

/***********************/
/* BEGIN: Review       */
.review .date {
  font-size: var(--text-xs);
  font-weight: var(--text-reg);
}
.review {
  margin-right: 5px;
}

.buttonPadding {
  margin: var(--spacing-sm);
  font-size: var(--text-md);
  font-weight: var(--text-reg);
}

.review .bold {
  font-weight:bold;
}

.helpful {
font-size: var(--text-xs);
}

.icon {
  margin-left:var(--spacing_sm);
  margin-right: var(--spacing-sm);
}

[data-theme="dark"] .link {
  background: none;
  border: none;
  color: var(--color-dark);
}

.link {
  font-weight: var(--text-reg);
  border-style: none;
}

.helpful .link {
  text-decoration: underline;
  background: none;
  border: none;
}

[data-theme="dark"] .helpful .link {
  color: var(--color-dark);
}

.link:hover {
  background-color: lightgrey;
}
.review .responsetitle {
  background-color:lightgray;
  font-size: var(--text-sm);
  font-weight: var(--text-bold);
}

.review .responsebody {
  background-color:lightgray;
  font-size: var(--text-sm);
  font-weight: var(--text-reg);
}

.recommend {
  font-size: var(--text-sm);
  font-weight: var(--text-reg);
}

.rowspace {
  margin-top: 5px;
  margin-bottom: 5px;
}

.thumbnail {
  height: 80px;
  /* width: 100px; */
  /* gap: 20px;
  overflow-y: auto; */
  margin: 5px 15px;
  border-radius: 5px;
}

.thumbnailplaceholder {
  width: 80px;
  height: 80px;
  border-radius: 5px;;
  /* gap: 20px;
  overflow-y: auto; */
  background-color: lightgrey;
  justify-content: center;
  color: grey;
  font-size:xx-large;
  margin: 5px 15px;
}

.thumbnailgroup {
  display: flex;
  flex-wrap: wrap;
}

.verified {
  font-size: var(--text-sm);
  font-weight: var(--text-reg);
}

.wrap {
  inline-size: 60vh;
  overflow-wrap: break-word;
  font-size: var(--text-sm);
  font-weight: var(--text-reg);
}
/* END:   Review       */
/***********************/

/***********************/
/* BEGIN: Add Review       */

.formTitle {
  font-weight: bold;
}

.subTitle {
  font-weight:bold;
  font-size: smaller;
}

.charWidth {
  width: 110px;
}

.required {
  font-size:small;
  vertical-align: super;
}

.validationErr {
  color: red;
}
/* END:   Add Review       */
/***********************/

