.imgContainer {
  position: relative;
  display: inline-block;
}

.overlayBtn {
  position: absolute;
  top: -5px;
  right: -5px;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 100;
  background: transparent;
}

.relatedOutfit {
  position: relative;
  overflow: visible;
}

.productCard {
  box-sizing: content-box;
  margin: 0px 10px 0px 0px;
  border: 1px solid var(--color-border);
  min-height: 320px;
  z-index: 0;
}

.productCardInfo {
  padding: 0px 5px 0px 5px;
}

.cardStars {
  position: absolute;
  bottom: 0px;
  padding: 0px 5px 5px 0px;
}

.addOutfit {
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
}

.addOutfitText {
  flex-grow: 1;
}

.carouselArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 25px;
  height: 100%;
  font-size: 24px;
}

.table {
  width: 100%;
}

.tableCenter {
  text-align: center;
}

th {
  width: 100px;
  font-size: large;
}